@import "../../styles/variables.scss";

.contact{
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid $secondary-color;
    
    background-color: rgb(219, 216, 216);
    border-radius: 20px;
    padding: 5px 15px;

    p{
        font-size: 1.3rem;

    }
    img{
        height:64px;
        border-radius: 50%;
    }
}