@import '../../styles/variables.scss';

.header{
    background: rgb(69, 71, 69);
    display:flex;
    justify-content: space-between;
    padding: 10px 80px;
    max-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 10000;
    .user{
        height: 100%;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: flex-end;
        

        >a{
            cursor: pointer;
            display: flex;
            gap: 5px;
            justify-content: flex-end;
            max-width:190px;
            overflow: hidden;
           
        }

        img{
            border-radius: 50%;
            height: 60px;
        }
       .drop-header{
            display: none;
            flex-direction: column;
            position: absolute;
            top: 105%;
            left: 83%;
            background-color: rgb(69, 71, 69);
            padding: 15px 10px;
            gap: 10px;
            width: 16%;
            border-radius: 10px;
            align-items: center;
            overflow: hidden;
           
            &.visible{
                display:flex;
            }
            h2{
                color: white;
                font-weight: bold;
                text-align: center;
            }
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 1.2rem;
                padding: 7px 10px;
                margin-top:5px;
                border-radius: 10px;
                background-color:var(--secondary-color);
                text-align: center;
                cursor: pointer;

               
               


                &.log-out{
                    color: rgb(247, 247, 247);
                    background-color:rgb(243, 70, 70);
                }
                &.delete{
                    color: rgb(247, 247, 247);
                    background-color:rgb(243, 70, 70);
                }
            }
        }
        p{
            color: white;
            font-size:1.2rem;
            text-align: center;
            display:flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            &.not-logged{
                font-size:1.4rem;
                line-height:60px;
            }

            input{
                height: 25px;
                width: 25px;
                border-radius: 8px;
            }
        }
    }

    a{
       
        svg{
            width: 60px;
            height: 60px;
        }
    }
}

@media screen and (max-width: 700px){
    .header{
        padding: 20px 40px;
        max-height: 100px;
        .user{
            >a{
                max-width:190px;
            }
           .drop-header{
               width: 36%;
               right:0px;
               top: 105%;
               left: 60%;
               max-width: 135px;

               .delete-chat{
                   font-size:1.2rem;
               }
           }
            
        }
    
    }
}