@import "../../styles/variables.scss";

.message{
    color: #fff;
    font-size:1.5rem;
    width: 60%;
    padding:10px;
    border-radius: 10px;
    overflow: hidden;
}
.send{
    background-color: $secondary-color;
    align-self: flex-end;
    text-align: end;
}
.received{
    background-color: rgb(61, 60, 60);
}