@import "../../styles/variables.scss";

.message{
    color: #fff;
    font-size:1.5rem;
    padding:10px;
    border-radius: 10px;
    width: 52%;

    > p{
        display: flex;
        justify-content: flex-end;
        gap: 4px;
        align-items: center;
        font-size: 1.3rem;
        margin-top:4px;
    }
  
    > div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow:hidden;

        p{

            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
        }
    }

   
    &.hasImage{
        display: block;
    }

    svg{
        display:none;
    }

    .loading{
        height:70px;
    }

    a{
        background: transparent;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
       
        img{
            margin: 20px 15%;
            width: 70%;
            min-height: 300px;
            max-height: 600px;
            

            &.big-image{
                position:fixed;

                height: 65%;
                width: unset;
                max-width: 90%;
                max-height: unset;
                margin: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 500;
                background-color: rgba(0, 0, 0, 0.8);
                animation: becomebig 1s;
            }
        }

    }
    

}
.send{
    background-color: $secondary-color;
    align-self: flex-end;
    text-align: end;

    &.notviewed{
        svg{
            display: block !important;
        }
       >p{
       }
       
    }
}
.received{
    background-color: rgb(61, 60, 60);
}

@media screen and (max-width:700px){
    .message{
        width: 65%;
        a{
        img{
            margin: 20px 3%;
            width: 94%;
            min-height: 120px;
            max-height: 300px;

            &.big-image{
                position:fixed;
               
                height: unset;
                width: 90%;
                max-height: 70%;
                max-width: unset;
                margin: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 500;
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

    }
    }
}

@keyframes becomebig{
    0% {
        opacity: 0;
        top: 100%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}